<!-- login.component.html -->
<div class="animated-bg"></div>

<div class="login-container">

  <!-- Left Section -->
  <div class="left-section">
    <h1 class="animated-title">Student Management System</h1>
    <p class="signin-label">Sign In</p>

    <form >
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your username" [(ngModel)]="loginObj.email" #usernameField="ngModel"  required >
    

      <label>Password</label>
      <input type="password" name="password" placeholder="Enter your password" [(ngModel)]="loginObj.password" #passwordField="ngModel" required>
      

      <button type="submit" class="btn-login" (click)="onLogin()">SIGN IN</button>
      <a href="#" class="forgot">Forgot password?</a>
    </form>
  </div>

  <!-- Divider -->
  <div class="divider"></div>

  <!-- Right Section -->
  <div class="right-section">
    <h3>Don't have an account?<br>No problem, create one now</h3>
    <a routerLink="/create-account" class="btn-create" >CREATE ACCOUNT</a>
  </div>

</div>

